.formCreation {
  display: flex;
  height: 100%;
}
.formControl {
  position: relative;
  flex: 1;
  background-color: $white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .formTitle {
    font-weight: bold;
    font-size: $fontSize1;
    color: $dark-purple;
    font-family: Comfortaa;
  }

  .currentForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 3rem;
  }

  .formDes {
    color: $color12;
    font-size: $fontSize4;
    font-family: Roboto;
    margin-top: $rbwmspace8;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.form {
  margin-top: 3rem;
  flex: 1;
  position: relative;
}

.formOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.addFields {
  border: 1px solid $main-purple;
  border-radius: 4px;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-purple;
  margin: $rbwmspace24 $rbwmspace16;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.operation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  display: none;

  svg {
    color: $text-grey;
    cursor: pointer;
  }
}
.confirmModel {
  .ModelContent {
    width: 100%;
    color: $main-purple;
    padding: 80px 20px;
    text-align: center;
    font-size: $fontSize1;
  }
  .buttonGroup {
    display: flex;
    align-items: center;
    button {
      margin-right: $rbwmspace20;
    }
  }
}
