$text: #333333;
$text-grey: #9fa7ae;
$light-red: #fa9090;
$main-red: #e16162;
$dark-red: #ac4040;
$light-yellow: #fdd290;
$main-yellow: #f9bc60;
$dark-yellow: #f09500;
$light-purple: #c3cdfc;
$main-purple: #8fa0f5;
$dark-purple: #5c6bb5;
$main-green: green;
$dark-green: #006400;
$light-grey: #f7f7f7;
$headline-grey: #001e1d;
$color11: #2c2c2c;
$color12: #5a5a5a;
$bg-grey: #f1f1f1;
$white: #ffffff;
$black: #000000;

$rbwmspace1: 1px;
$rbwmspace4: 0.25rem;
$rbwmspace8: 0.5rem;
$rbwmspace12: 0.75rem;
$rbwmspace16: 1rem;
$rbwmspace20: 1.25rem;
$rbwmspace24: 1.5rem;
$rbwmspace28: 1.75rem;
$rbwmspace32: 2rem;
$rbwmspace36: 2.25rem;
$rbwmspace40: 2.5rem;
$rbwmspace44: 2.75rem;

$fontSize1: 2.5rem;
$fontSize2: 1.75rem;
$fontSize3: 1.25rem;
$fontSize4: 1rem;
$fontSize5: 0.875rem;
$fontSize6: 0.75rem;

$lighter-font-weight: 200;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 600;
$bold-font-weight: 800;
