.dataDiscover {
  width: 100%;
  height: 100%;
  position: relative;
}

.dataContainer {
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: 0 $rbwmspace20;
  display: flex;
}
.dataLeftPanel {
  width: 25rem;
  display: flex;
  flex-direction: column;
  padding: $rbwmspace20 $rbwmspace24 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: $rbwmspace20;
}
.leftPanelTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset {
  cursor: pointer;
  color: $text;
}
.dataRightPanel {
  margin-top: $rbwmspace20;
  width: 25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filterBox {
  width: 100%;
  margin-bottom: $rbwmspace20;
}
.filterItem {
  display: flex;
}
.title {
  color: $main-purple;
  margin-bottom: $rbwmspace44;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $rbwmspace40;
  .filterSelect {
    width: 12rem;
  }
}
.filterPanel {
  color: $main-purple;
  flex: 1;
}

.tableSearch {
  width: 100%;
  height: 100%;
}

.formOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: $rbwmspace20;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: $rbwmspace20;
}

.selectAll {
  svg {
    color: $white;
  }
}
.dataTable {
  flex: 1;
  > div {
    height: 100%;
  }
  &.tableLoading table {
    height: 100%;
  }
}
.tableRow {
  cursor: pointer;
}

.onBack {
  cursor: pointer;
  display: inline-block;
  display: flex;
  align-items: center;
  color: $main-purple;
  margin: $rbwmspace16 0 $rbwmspace20 $rbwmspace12;
  svg {
    margin-right: $rbwmspace12;
  }
}
.loadingRow {
  height: 30rem;
}
