.editInput {
  flex: 1;
  input {
    border: 1px solid $text-grey;
    padding: 0.5rem 1rem;
    height: 1.5rem;
    border-radius: 4px;

    &:focus,
    &:active {
      border-color: $main-purple;
    }
  }
}

.keypairItem {
  display: flex;
  align-items: center;
  margin-bottom: $rbwmspace20;
}

.icon {
  color: $text-grey;
  cursor: pointer;
}

.sep {
  margin: 0 $rbwmspace8;
}

.operaction {
  margin-left: $rbwmspace8;
  display: flex;
  align-items: center;
}
