.dataDiscover {
  width: 100%;
  height: 100%;
  position: relative;
}

.dataContainer {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
}
.dataLeftPanel {
  margin-top: $rbwmspace20;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftPanelContainer {
  padding: 0 $rbwmspace20;
}
.filterBox {
  width: 100%;
  margin-bottom: $rbwmspace20;
}
.filterItem {
  display: flex;
}
.title {
  color: $main-purple;
  margin-bottom: $rbwmspace44;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: $rbwmspace40;
}
.filterPanel {
  color: $main-purple;
  flex: 1;
}

.tableSearch {
  position: relative;
  margin-bottom: $rbwmspace20;
}

.formOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tableTagList {
  width: 50%;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: $rbwmspace20;
}
.secondTitle {
  color: $main-purple;
  margin-bottom: $rbwmspace20;
}

.selectAll {
  svg {
    color: $white;
  }
}
.dataTable {
  flex: 1;
  > div {
    height: 100%;
  }
  &.tableLoading table {
    height: 100%;
  }
}

.policyTag {
  padding: $rbwmspace8;
  background: gainsboro;
  border-radius: 4px;
  display: inline-block;
  margin: $rbwmspace4;
  min-width: $rbwmspace16;
  min-height: $rbwmspace12;
  position: relative;
  border-radius: $rbwmspace8;

  .delete {
    position: absolute;
    top: -$rbwmspace12;
    right: -$rbwmspace12;
    cursor: pointer;
    display: none;
    svg {
      width: $rbwmspace20;
      height: $rbwmspace20;
    }
  }

  &:hover {
    .delete {
      display: block;
    }
  }
}

.policyName {
  display: inline-block;
  font-weight: $bold-font-weight;
  color: black;
  margin-right: $rbwmspace8;
}

.policytagname {
  font-weight: $bold-font-weight;
  color: grey;
}

.dataRightPanel {
  width: 25rem;
  display: flex;
  flex-direction: column;
  padding: $rbwmspace20 0 0 $rbwmspace24;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.rightPanelContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rightPanelTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main-purple;
}
.cartView {
  flex: 1;
}
.orderNow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $rbwmspace20;
}
.cartContent {
}

.cartItemList {
  color: #333;
  .active {
    color: $main-purple;
    svg {
      color: $main-purple;
    }
  }
  svg {
    cursor: pointer;
  }
  .cartItem {
    padding: 0 0 $rbwmspace12 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .cartItemDetail {
    display: flex;
  }
  .columnLengh {
    margin-left: $rbwmspace20;
  }
}

.resourceDetail {
  display: flex;
  margin-bottom: $rbwmspace20;
  flex-wrap: wrap;
}

.detailItem {
  width: 50%;
  display: flex;
  margin: $rbwmspace8 0;
}
.detailLabel {
  width: 50%;
  color: $main-purple;
  font-weight: $bold-font-weight;
}
.detailValue {
  width: 50%;
}

.selectUseCase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-grey;
  margin-bottom: $rbwmspace8;
}
