.leftNav {
  height: calc(100vh - 3rem);
  width: 18rem;
  background-color: $dark-purple;
  position: absolute;
  left: -18rem;
  top: 3rem;
  z-index: 999;
  transition: 0.5s all;

  &.active {
    left: 0;
  }
}
.logoBox {
  width: 100%;
  text-align: center;
}

.navItem {
  color: $white;
  display: flex;
  align-items: center;
  padding-left: $rbwmspace32;
  .navLabel {
    color: $white;
    line-height: 3.5rem;
    width: 13rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .navLogo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    color: $white;
  }
  &.active {
    .navLabel {
      background-color: $main-purple;
      color: $white;
    }
    .navLogo {
      color: $white;
    }
  }

  &:hover {
    background-color: $main-purple;
    .navLabel {
      color: $white;
    }
    .secondNavPanel {
      display: block;
    }
    .navLogo {
      color: $white;
    }
  }
}

.secondNavPanel {
  display: none;
  position: absolute;
  width: 25rem;
  height: calc(100vh - 1rem);
  background-color: $light-purple;
  top: 0;
  left: 18rem;
  z-index: 999;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: $dark-purple;
  box-sizing: border-box;

  .secondTitle {
    font-size: $fontSize2;
    margin-top: 3.625rem;
    margin-left: $rbwmspace20;
  }

  .secondDes {
    margin-bottom: $rbwmspace36;
    margin-left: $rbwmspace20;
  }

  .secondNav {
    width: 100%;
    height: 3.5rem;
    text-indent: $rbwmspace20;
    line-height: 3.5rem;
    cursor: pointer;
    .secondNavLabel {
      transition: 0.2s all;
      color: $dark-purple;
    }
    &:hover {
      background-color: $white;
      .secondNavLabel {
        margin-left: $rbwmspace12;
      }
    }
  }
}
