.countryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $main-purple;
  margin-bottom: $rbwmspace12;
}

.addCountryBtn {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  min-width: unset;
  height: auto;
  line-height: 1;
  border-width: 1px;
  background-color: $main-purple;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  color: $text-grey;
  cursor: pointer;
  display: inline-block;
}

.countryTable {
  margin-bottom: $rbwmspace20;
}
