.tableView {
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: $rbwmspace44;
  display: flex;
  flex-direction: column;
}
.onBack {
  cursor: pointer;
  display: inline-block;
  display: flex;
  align-items: center;
  color: $main-purple;
  margin: $rbwmspace16 0 $rbwmspace20 $rbwmspace12;
  svg {
    margin-right: $rbwmspace12;
  }
}
