.tagDisplay {
  // box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  // margin-bottom: $rbwmspace20;
  width: 100%;
}
.tagDetail {
}
.TagTitle {
  margin-top: 3.125rem;
  margin-bottom: $rbwmspace20;
  color: $text-grey;
}
