.root {
  display: "flex";
  height: "100%";
  overflow: "hidden";
  width: "100%";
}
.wrapper {
  display: "flex";
  flex: "1 1 auto";
  overflow: "hidden";
}
.contentContainer {
  display: "flex";
  flex: "1 1 auto";
  overflow: "hidden";
}
.content {
  flex: "1 1 auto";
  height: "100%";
  overflow: "auto";
}
