.formView {
  width: 100%;
  flex: 1;
}
.formControl {
  background-color: $white;
  min-height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: $main-purple;
  .formTitle {
    font-weight: bold;
    font-size: $fontSize1;
    color: $dark-purple;
  }
  .formDes {
    color: $color12;
    font-size: $fontSize3;
  }
}

.form {
  margin-top: 3rem;
  flex: 1;
  position: relative;
}

.formOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .formItem {
    width: 100%;
    min-width: calc(33.3% - 2rem);
    margin: $rbwmspace16;
    flex: 1;
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;

  button:nth-child(1) {
    margin-right: $rbwmspace20;
  }
}
