.designerTitle {
  margin-top: 3.125rem;
  margin-bottom: $rbwmspace20;
  color: $text-grey;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selectTagTemplate {
  margin-bottom: $rbwmspace40;
}
