.modelPaper {
  position: absolute;
  min-width: 30rem;
  background-color: $white;
  padding: 2rem 1rem 1rem;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  min-height: 20rem;
  border-radius: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-block;
  outline: 0;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  .close {
    z-index: 999;
    width: 2rem;
    height: 2rem;
    color: $color12;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
  &:focus-visible {
    outline: 0;
  }
}

.modalScrollbar {
  max-height: calc(100vh - 5rem);
  min-height: 20rem;
}
