.designerPanel {
  height: 100%;
  width: 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $white;
  border-radius: 4px;
  top: 0;
  right: 0;
  padding: $rbwmspace32 0;
  &.open {
    transition: 0.3s all;
    width: 48rem;
  }
}
.innerContent {
  padding: 0 $rbwmspace32;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
