.bashCommand {
  width: 100%;
  height: 100%;
  display: flex;
}

.bashCommandContainer {
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: $rbwmspace44;
  display: flex;
  flex-direction: column;
}

.title {
  color: $main-purple;
  margin-bottom: $rbwmspace44;
}

.terminal {
  height: calc(100% - 5.5rem);
  > div {
    min-height: unset;
    height: 100%;
    width: 100%;
  }
}

.terminalContainer {
  margin-top: $rbwmspace20;
  border: 1px solid #cccccc;
  flex: 1;
}
