.filter {
  align-items: center;
  display: flex;
  position: relative;
  width: 23.25rem;
  height: 3.75rem;
}

.list {
  width: 23.25rem;
}

.iconButton {
  color: $color12;
  margin-right: $rbwmspace8;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: $rbwmspace12;
}

.input {
  width: 100%;
}

.poppup {
  width: 23.25rem;
}
