.datePickerBox {
  width: 100%;
  .datePicker {
    display: block;

    div[class*="MuiFilledInput-underline"]:hover::before {
      border-width: 1px;
    }
  }
}

div[class*="MuiPickersToolbar-toolbar"],
button[class*="MuiPickersDay-daySelected"] {
  background-color: $main-purple !important;
  color: $white !important;
}

button[class*="MuiPickersDay-current"] {
  color: $main-purple;
}
