.tagCards {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  margin-bottom: $rbwmspace20;
  width: 50%;
}
.tagDetail {
}
.title {
  color: #333;
  padding: $rbwmspace20;
  font-size: $fontSize3;
  display: inline-block;
}
