.contentTitle {
  color: $text-grey;
}

.conditionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $rbwmspace20;
}
.conditionValue {
  flex: 1;
  position: relative;
}

.conditionLabel {
  font-size: $fontSize6;
  color: $main-purple;
  margin: $rbwmspace4;
  margin-right: $rbwmspace8;
}

.conditionType {
  margin: 0 $rbwmspace12;
  flex: 0.5;
}

.deleteIcon {
  margin-left: $rbwmspace8;
  cursor: pointer;
}

.required {
  color: $main-red;
  display: inline-block;
  margin-left: $rbwmspace4;
}
