.collapse {
  border-top: 1px solid $light-grey;

  &:last-child {
    border-bottom: 1px solid $light-grey;
  }
}
.collapseLabel {
  color: $text-grey;
  line-height: 3.75rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &.active {
    color: $main-purple;
  }
  &.disabled {
    color: $text-grey;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .addIcon {
  }
}
