.workflowRender {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.startButton {
  width: 8.75rem;
  height: 3.5rem;
  background-color: $main-purple;
  border-radius: 4px;
  color: $white;
  line-height: 3.5rem;
  text-align: center;
  font-weight: 500;
  font-family: Roboto;
  font-size: 1rem;
  margin-bottom: $rbwmspace20;
  position: relative;
}

.end {
  margin-top: $rbwmspace20;
}

.processIcon {
  svg {
    width: 3rem;
    height: 3rem;
    color: $dark-purple;
  }
}
.addStageBtn {
  cursor: pointer;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: $dark-purple;
  }
}

.processAnchor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
