.confirmModel {
  width: 46rem;
  min-height: 30.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .close {
    width: 2rem;
    height: 2rem;
    color: $color12;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  &:focus-visible {
    outline: 0;
  }
}

.statusIcon {
  width: 10.25rem;
  height: 10.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $rbwmspace20 0 4rem 0;

  svg {
    width: auto;
    height: auto;
  }
}

.ModelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.status0 {
  .ModelContent h1 {
    color: $headline-grey;
  }
}

.status1 {
  .ModelContent h1 {
    color: $dark-yellow;
  }
}

.status2 {
  .ModelContent h1 {
    color: $main-purple;
  }
}

.status3,
.status4 .status5 {
  .ModelContent h1 {
    color: $dark-red;
  }
}

.content {
  color: $text-grey;
}

.extent {
  width: 100%;
}

.successCb {
  margin-left: $rbwmspace20;
}
.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
